 <form action="/" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{todo._id}}">
    <div class="form-group">
        <label>Todo</label>
        <input type="text" class="form-control" name="todo" value="{{todo.title}}"/>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-success"> View All </a>
    </div>
</form>
    
    
 
